@keyframes load{
	0%{
		transform: rotate3d(1, 0.75, -1, 0deg)  scale(1, 1);
	}	
	25%{
		transform: rotate3d(1, 0.75, -1, 180deg)  scale(0.8, 0.8);
	}	
	50%{
		transform: rotate3d(1, 0.75, -1, 360deg)  scale(0.38, 0.38);
	}	
	75%{
		transform: rotate3d(1, 0.75, -1, 540deg)  scale(0.8, 0.8);
	}
	100%{
		transform: rotate3d(1, 0.75, -1, 720deg)  scale(1, 1);
	}
}

*{
	padding: 0px;
	margin: 0px;
}

body, html{
	height: 100%;
}

a{
	color: inherit;
	text-decoration: inherit;
	transition: color 0.2s;
}

.btn{
	display: block;
	height: 42px;
	line-height: 42px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10pt;
	width: 160px;
	border-radius: 40px;
	border: 3px solid #fff;
	transition: background-color 0.2s, color 0.2s;
	cursor: pointer;
}

#load-cont{
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 5;
	perspective: 200px;
	top: 0px;
	left: 0px;
}

#load{
	position: absolute;
	height: 120px;
	width: 120px;
	background-color:#fff;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	margin-top: -110px;
	margin-left: -40px;
	animation: load 3s linear infinite;
}
.dis{
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(40, 29, 60);
	opacity: 0.7;
}

#page-1{
	height: 100%;
	background-image: url('../img/w5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#follow{
	position: fixed;
	z-index: 10;
	bottom: 30px;
	left: 30px;
	height: 60px;
	width: 60px;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 30px;
	background-color: #fff;
	font-family: quicksand;
	font-weight: 600;
	font-size: 9pt;
	text-transform: uppercase;
	opacity: 0.7;
	transition: width 0.25s, opacity 0.25s;
	cursor: pointer;
}

#follow:hover{
	width: 220px;
	opacity: 1;
}

#follow img{
	position: relative;
	height: 36px;
	margin-left: 12px;
	top: 12px;
	opacity: 0.8;
	margin-right: 8px;

}

header{
	position: absolute;
	height: 60px;
	width: 100%;
}

nav{
	position: relative;
	float: right;
	display: inline-block;
	right: 50px;
}

.menu-item{
	display: inline-block;
	height: 60px;
	line-height: 60px;
	color: rgba(255,255,255,0.7);
	text-transform: uppercase;
	font-size: 10pt;
	font-family: Cabin;
	letter-spacing: 1px;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	font-weight: 600;
	transition: color 0.2s, border-bottom 0.2s;
	cursor: pointer;
	opacity: 0;
}

.menu-item:hover{
	border-bottom: 3px solid #fff;
	color: #fff;
}

#header-logo{
	height: 90px;
	position: absolute;

	font-weight: bold;
	right: 50px;
	
	top: 20px;
	
}

h1, .sub-head{
	box-sizing: border-box;
	position: relative;
	text-align: right;
	padding-right: 200px;
	top: 19%;
	z-index: 2;
	opacity: 0;
}

h1{
	
	font-size: 50pt;
	line-height:80px;
	color:white;
	font-family: cabin;
	
}



.sub-head{
	transform: translate(0%, -0%);
	letter-spacing: initial;
	font-size: 22pt;
	font-family: cabin;
	text-decoration: initial;
	color: rgba(255, 255, 255, 0.45);
	margin-top: 50px;
	font-weight: 300;
	line-height: 40px;
	padding-right: 220px;
}

.sub-head span{
	font-size: 108%;
	color: rgba(255, 255, 255, 0.7);
}

#waves{
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#page-2{
	background-color:#fff;
	padding-bottom: 60px;
}

#page-2-head{
	box-sizing: border-box;
	display: inline-block;
	font-size: 38pt;
	letter-spacing: 2px;
	color: #1E2A4D;
	width: 28%;
	border-right: 4px solid rgba(0,0,0,0.25);
	font-family: alata;
	text-transform: uppercase;
	position: relative;
	margin-top: 70px;
	padding-right: 20px;
	font-weight: 900;
	line-height: 80px;
	text-align: right;
	left: 7%;
}

#page-2-desc{
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	width: 56%;
	left: 7%;
	font-family: quicksand;
	vertical-align: top;
	padding-top: 70px;
	padding-left: 40px;
	font-size: 14pt;
	color: #fff;
	font-weight: 600;
	line-height: 30px;

}

#page-2-desc span{
	display: block;
	font-weight: 700;
	margin-bottom: 6px;
	vertical-align: top;
	color:#25244a;
}


#page-2-event-cont{
	text-align: center;
	padding-top: 45px;
}

#page-2-events-head{
	width: 88%;
	position: relative;
	text-align: left;
	left: 12%;
	font-family: alata;
	color:#1E2A4D;
	font-size: 29pt;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.page-2-event{
	display: inline-block;
	position: relative;
	width: 23%;
	height: 440px;
	text-align: left;
	background-image: url('../img/jobs.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
	cursor: pointer;
}


#page-2-event-2{
	background-image: url('../img/mafia.jpg');
}

#page-2-event-3{
	background-image: url('../img/wall.jpg');
}

#page-2-event-4{
	background-image: url('../img/stocks.jpg');
}

#page-2-event-5{
	background-image: url('../img/stocksim.jpg');
}

#page-2-event-6{
	background-image: url('../img/pitch.jpg');
}

#page-2-event-7{
	background-image: url('../img/mun.jpg');
}
#page-2-event-8{
	background-image: url('../img/ipl.jpg');
}
#page-2-event-9{
	background-image: url('../img/online.jpg');
}



.page-2-event .dis{
	border-radius: 20px;
	background-color: #111;
	opacity: 0.6;
	transition: opacity 0.2s ease-out;
}

.page-2-event:hover .page-2-event-det{
	bottom: 30%;
}

.page-2-event:hover .dis{
	opacity: 0.8;
}

.page-2-event-det{
	position: absolute;
	bottom: 45px;
	width: 100%;
	box-sizing: border-box;
	color: #fff;
	text-align: center;
	font-family: quicksand;
	font-size: 12pt;
	font-weight: 400;
	padding-left: 28px;
	padding-right: 28px;
	transition: bottom 0.2s ease-out;
}

.page-2-event-det h3{
	text-align: center;
	font-family: Comfortaa;
	font-size: 16pt;
	margin-bottom: 20px;
}

#event-dis{
	display: none;
	z-index: 3;
	position: fixed;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	backdrop-filter: blur(6px);
}

#event{
	position: absolute;
	max-height: 90%;
	width: 500px;
	top: -50px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	background-color: #fff;
	border-radius: 30px;
	overflow: auto;
	transform: scale(0.8, 0.8);/*(1,1)*/
	text-align: center;
}

#event-head{
	position: relative;
	display: inline-block;
	font-family: Comfortaa;
	letter-spacing: -1px;
	font-weight: 800;
	text-align: center;
	font-size: 17pt;
	color: #222;
	box-sizing: border-box;
	margin-top: 20px;
	background-color: #538fff;
	padding: 16px;
	border-radius: 10px;
}

#event-desc{
	position: relative;
	font-family: Cabin;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 30px;
	line-height: 23px;
	padding-top: 15px;
	font-family: ;
	font-size: 11.5pt;
	background-color: #33;
	font-weight: 400;
	color: #444;
	overflow: auto;
}

#event-close{
	height: 24px;
	width: 24px;
	padding: 12px;
	position: absolute;
	top: 30px;
	right: 45px;
	z-index: 3;
	cursor: pointer;
	transition: background-color 0.2s, transform 0.2s;
	border-radius: 100%;
}

#event-close:hover{
	background-color: rgba(255,255,255,0.1);
	transform: rotate(90deg);
}

#page-3{
	background-color: #25244a;
	padding-top: 40px;
	padding-bottom: 80px;
	text-align: center;
}

#page-3-head{
	color: #fff;
	font-size: 16pt;
	font-family: Comfortaa;
	font-weight: 400;
	padding-bottom: 20px;
	text-align: center;
}

.page-3-logo{
	height: 65px;
	margin-left: 50px;
	margin-right: 25px;
	opacity: 0.8;
	margin-top: 30px;
}

#page-4{
	position: relative;
	background-color: #1E2A4D;
	text-align: center;
	padding-bottom: 70px;
}

#stars{
	top: 0px;
	left: 0px;
	position: absolute;
}

#page-4-head{
	position: relative;
	font-family: alata;
	font-weight: 700;
	text-transform: uppercase;
	color:#fff;
	padding-top: 70px;
	padding-bottom: 30px;
	letter-spacing: 2px;
	font-size: 38pt;
}


.page-4-member{
	display: inline-block;
	vertical-align: top;
	width: 23%;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 55px;
	text-align: center;
	z-index: 2;
	position: relative;
}

.page-4-member-img{
	display: inline-block;
	height: 200px;
	width: 200px;
  	position: relative;
    margin: 0px auto;	
	background-size: cover;
	background-position: center center;
	border-radius: 100%;
}


#page-4-member-1 .page-4-member-img{
	background-image: url('../img/b1.jpg');
}
#page-4-member-2 .page-4-member-img{
	background-image: url('../img/b8.jpg');
}
#page-4-member-3 .page-4-member-img{
	background-image: url('../img/b6.jpg');
}
#page-4-member-4 .page-4-member-img{
	background-image: url('../img/b9.jpg');
}
#page-4-member-5 .page-4-member-img{
	background-image: url('../img/b3.jpg');
}
#page-4-member-6 .page-4-member-img{
	background-image: url('../img/b5.jpg');
}
#page-4-member-7 .page-4-member-img{
	background-image: url('../img/b12.jpg');
}
#page-4-member-8 .page-4-member-img{
	background-image: url('../img/b10.jpg');
}
#page-4-member-9 .page-4-member-img{
	background-image: url('../img/b2.jpeg');
}
#page-4-member-10 .page-4-member-img{
	background-image: url('../img/b7.jpg');
}
#page-4-member-11 .page-4-member-img{
	background-image: url('../img/b4.jpg');
}
#page-4-member-12 .page-4-member-img{
	background-image: url('../img/b11.jpg');
}



.page-4-member-name{
	color: #fff;
	font-family: Alata;
	font-size: 16pt;
	font-weight: 500;
	margin-top: 15px;
}

.page-4-member-desig{
	font-family: quicksand;
	color: #fff;
	font-size: 11pt;
	opacity: 0.8;
	font-weight: 500;
}

#page-5{
	position: relative;
	background-color: #fff;
	padding-bottom: 5px;
	padding-top: 25px;
	z-index: 2;
}

#page-5-head{
	position: relative;
	z-index: 2;
	text-align: center;
	padding-top: 30px;
	font-family: Alata;
	
	font-weight: 700;
	font-size: 25pt;
	color: rgba(0,0,0,0.45);
}

#page-5-soon{
	width: 70%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 60px;
	text-align: center;
	font-family: Alata;
	font-size: 16pt;
	color: #1E2A4D;
}

#page-5-logo{
	
		height: 65px;
		margin-left: 50px;
		margin-right: 25px;
		opacity: 0.8;
		margin-top: 30px;
	
}

#page-5-soon .btn{
	margin: auto;
	margin-top: 40px;
	
	color: #1E2A4D;
	border: 2px solid #1E2A4D;
}

#page-5-soon .btn:hover{
	background-color: #1E2A4D;
	color: #fff;
}

#page-5-reg{
	display: block;
	background-color: #fff;
	margin: auto;
	margin-top: 40px;
	height: 600px;
	border-radius: 10px;
}

#page-6{
	position: relative;
	padding-top: 65px;
	background-color:  white;
	text-align: center;
	padding-bottom: 40px;
}

.page-6-social{
	height: 28px;
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px;
	opacity: 0.6;
	background-color: transparent;
	border-bottom: 4px solid #1E2A4D;
	transition: border-bottom 0.2s;
	padding-bottom: 10px;
	cursor: pointer;
}

.page-6-social:hover{
	border-bottom: 4px solid red;
}

#page-6-credits{
	margin-top: 30px;
	font-size: 12pt;
	font-weight: 500;
	font-family: Comfortaa;
	color: #1E2A4D;
	line-height: 25px;
	text-align: center;
}

#page-6-credits a:hover{
	color:red;
}


@media only screen and (max-width: 900px) {

	#page-1{
		background-position: 20% 50%;
		
	}
	
	header nav{
		display: none;
	}

	#header-logo{
		height: initial;
		width: 150px;
		left: calc(50% - 75px);
		top: 30px;
	}

	h1{
		font-size: 48pt;
		line-height: 70px;
		padding: 0px;
		padding-top: 90px;
		text-align: center;
		padding-top: 70px;
		
	}

	.sub-head{
		
		font-size: 18pt;
		margin-top: 100px;
		line-height: 26px;
		padding-top: 80px;
		padding: 0px;
		text-align: center;
		
	}

	.sub-head span{
		font-size: 108%;
		color: rgba(255, 255, 255, 0.7);
	}
	#page-2-head{
		display: block;
		width: 100%;
		left: 0px;
		box-sizing: border-box;
		padding-right: 60px;
		padding-left: 60px;
		margin-top: 0px;
		font-size: 40pt;
		text-align: left;
		padding-top: 50px;
		border-right: none;
	}

	#page-2-desc{
		display: block;
		box-sizing: border-box;
		width: 100%;
		left: 0px;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 20px;
		font-size: 12pt;
		line-height: 24px;
		color: rgba(255,255,255,0.85);
	}

	#page-2-event-cont{
		padding-top: 10px;
	}

	#page-2-desc{
		margin-bottom: 15px;
	}

	#event{
		width: 80%;
		height: 80%;
	}

	#event-close{
		z-index: 3;
		background-color: rgba(0,0,0,0.3);
		padding: 10px;
		top: 15px;
		right: 15px;	
	}

	.page-2-event{
		width: 75%;
		height: 330px;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 20px;
	}

	.page-3-logo{
		height: 40px;
		display: block;
		margin: auto;
		margin-top: 25px;
	}

	#page-4-head{
		font-size: 40pt;
	}

	.page-4-member{
		width: 35%;
	}
	.page-4-member-img{
		width: 90px;
		height: 90px;
	}

	.page-4-member-name{
		font-size: 12.5pt;
		margin-top: 8px;
	}

	#page-5-head{
		font-size: 35pt;
	}
	#page-5-soon{
		font-size: 16pt;
		line-height: 33px;
	}
	.page-6-social{
		margin-left: 18px;
		margin-right: 18px;
	}
}


::-webkit-scrollbar{
    width: 10px;
    background-color: #1E2A4D;
 
}
::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}